.header {
  align-items: center;
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title {
  font-size: 1.4rem;
  margin: 0 0 2rem;
  @media screen and (max-device-width: 950px) {
    display: none;
  }
}

.contact {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;

  &:before {
    border-top: 1px solid #ccc;
    content: " ";
    display: block;
    width: 50%;
    margin: 0 auto 1rem;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-link:hover {
  opacity: 0.5;
}

.contact-link span {
  padding-left: 10px;
  color: black;
}

.logo {
  aspect-ratio: 1/1;
  height: auto;
  max-width: 400px;
  width: 80%;
  object-fit: contain;
  margin-bottom: 20px;
}

@media screen and (orientation: landscape) {
  .logo {
    max-width: 50%;
  }

  .contact {
    margin-bottom: 20px;
  }
}
