@media screen and (orientation: portrait) {
  .page {
    flex-direction: column;
  }

  .header {
    height: 40%;
    width: 100%;
  }

  .logo {
    height: calc(100% - 70px);
    max-height: 300px;
    width: auto;
    margin-bottom: 10px;
  }

  .cakes {
    height: calc(60% - 40px);
    width: 100%;
  }

  .pips {
    width: auto;
    height: 100%;
    right: 10px;
    top: 0;
    flex-direction: column;
  }

  .footer {
    left: 0;
    transform: none;
    width: 100%;
  }
}
